<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate = "layout/main.html">
    <div layout:fragment = "mainContent">
        <div th:if = "${car != null}">
            <div class="row">
                <div class="col-6 offset-3">
                    <form th:action="@{'/savecar'}" method="post">
                        <input type="hidden" name="car_id" th:value="${car.id}">
                        <div class="row mt-3">
                            <div class="col-12">
                                <label th:text="#{label.name}"></label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <input type="text" class="form-control" name="car_name" required
                                    th:value="${car.name}">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <label th:text="#{label.model}"></label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <input type="text" class="form-control" name="car_model" required
                                   th:value="${car.model}">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <label th:text="#{label.price}"></label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <input type="number" class="form-control" name="car_price" required
                                       th:value="${car.price}">

                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <label th:text="#{label.engineVolume}"></label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <input type="number" class="form-control" name="car_engine_volume" step="0.1" required
                                       th:value="${car.engineVolume}">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <label th:text="#{label.country}"></label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <select class="form-select" name="car_country_id" required>
                                    <option th:each="cnt : ${countries}" th:text="${cnt.name} + '-' + ${cnt.code}"
                                        th:value="${cnt.id}" th:selected=
                                        "${car!=null && car.country!=null && car.country.id==cnt.id}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <button class="btn btn-success" th:text="#{button.saveCar}"></button>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-danger ms-2"
                                        data-bs-toggle="modal" data-bs-target="#deleteCarModal"
                                        th:text="#{button.deleteCar}">
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Modal Delete -->
            <div class="modal fade" id="deleteCarModal" data-bs-backdrop="static" data-bs-keyboard="false"
                 tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{'/deletecar'}" method="post">
                            <input type="hidden" name="car_id" th:value="${car.id}">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel"
                                    th:text="#{modal.titleModalDelete}"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h3 th:text="#{message.confirmDelete}"></h3>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                        th:text="#{button.cancel}"></button>
                                <button class="btn btn-danger" th:text="#{button.yes}"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Selected categories List -->
            <div class="row mt-3">
                <div class="col-6 offset-3">
                    <h4 class="text-center" th:if="${not #lists.isEmpty(car.categories)}"
                        th:text="#{label.selectedCategory}"></h4>
                    <table class="table table-striped">
                        <tbody>
                        <tr th:each="cat : ${car.categories}">
                            <form th:action="@{'/reassigncategory'}" method="post">
                                <input type="hidden" th:value="${car.id}" name="car_id">
                                <input type="hidden" th:value="${cat.id}" name="car_category_id">
                                <td th:text="${cat.name}"></td>
                                <td width="10%">
                                    <button class="btn btn-danger btn-sm"> - </button>
                                </td>
                            </form>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Available categories List -->
            <div class="row mt-3">
                <div class="col-6 offset-3">
                    <h4 class="text-center" th:if="${categories}"
                        th:text="#{label.availableCategory}"></h4>
                    <table class="table table-striped">
                        <tbody>
                            <tr th:each="cat : ${categories}">
                                <form th:action="@{'/assigncategory'}" method="post">
                                    <input type="hidden" th:value="${car.id}" name="car_id">
                                    <input type="hidden" th:value="${cat.id}" name="car_category_id">
                                    <td th:text="${cat.name}"></td>
                                    <td width="10%">
                                        <button class="btn btn-success btn-sm"> + </button>
                                    </td>
                                </form>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</html>